* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.bg {
  background: url('https://cdn.clickasnap.com/0x1000/13994/beautiful-spring-sceneries.jpg')
    no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.loading-text {
  font-size: 50px;
  color: #fff;
}